<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common :: head(title='Non trovato')}"></head>
<body>
<nav th:replace="~{fragments/common :: nav}"></nav>
<div class="container text-center py-5">
    <h1 class="display-4">404</h1>
    <p class="lead" th:if="${messaggio}" th:text="${messaggio}">La risorsa richiesta non esiste.</p>
    <p class="lead" th:unless="${messaggio}">La pagina che stai cercando non esiste o e' stata rimossa.</p>
    <a th:href="@{/}" class="btn btn-primary">Torna alla home</a>
</div>
</body>
</html>